@charset "utf-8";
/* CSS Document */

 .header{
	width:100%;
	height:120px;
	background:#FFFFFF;
	margin:0;
	padding:0;
	border:0; 
 }


 .header1{
	width:100%;
	height:120px;
	background:#790000;
	margin:0;
	padding:0;
	border:0; 
 }
 
 .footer {
	width:100%;
	 height:90px;
	 background:#FF0000;
	 margin:0px 0 0 0;
	 padding:0; 
	 text-align:center;
	 border:0;
	 bottom:0;
	 position:relative; 
	 
 }
 
 
